@import url('https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');
body {
    font-family: "Galmuri9", sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}
.stars {
    display: flex;
    flex-direction: row-reverse; /* 별들을 오른쪽부터 나열 */
    margin-bottom: 20px;
    gap: 4px;
}
.stars input {
    display: none;
}
.stars label {
    font-size: 36px;
    color: #666;
    cursor: pointer;
    transition: color 0.3s;
    order: 5; /* 별 아이콘 순서 변경 */
}
.stars input:checked ~ label {
    color: #ffcc00;
}
.review-textarea {
    width: 350px;
    height: 150px;
    padding: 10px;
    font-size: 16px;
    resize: vertical;
    margin-bottom: 20px;
    color: #000;
    background-color: #f4f4f4;
    border: none;
    border-radius: 5px;
    outline: none;
    font-family: "Galmuri9", sans-serif;
}
.submit-btn {
    padding: 12px 32px; /* 버튼 크기 조정 */
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: rgb(245, 254, 124);
    color: black;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: "Galmuri9", sans-serif;
}
.submit-btn:hover {
    background-color: #0056b3;
}
.thanks-message {
    font-size: 24px; /* 플레이 해주셔서 감사합니다 텍스트 크기 조정 */
    text-align: center;
    margin-bottom: 30px; /* 마진 조정 */
}
